body {
  background: #f9f7fe;
  display: block;
  text-align: left;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  padding: 20px;
  background-color: #f0f5f9;
  box-shadow: 3px 3px 3px #52616b;
}

.weather {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background: #fff;
  border-radius: 16px;
  padding: 40px;
  color: #878787;
}

h1 {
  color: #0f4c75;
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

form.search-city {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.weather footer {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  margin-top: 40px;
  padding: 0 5px;
  line-height: 18px;
  text-align: center;
  color: #52616b;
}

li {
  font-family: "Inconsolata", monospace;
  list-style: none;
  margin: 0;
  line-height: 27px;
  padding: 0;
}

li.current-date {
  font-weight: 450;
  font-size: 18px;
  line-height: 25px;
}

li.current-forecast {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #0f4c75;
  padding-top: 10px;
  line-height: 27px;
}

li.detailed {
  color: #3282b8;
  font-size: 18px;
  font-weight: 400;
  padding-top: 0;
  line-height: 20px;
}

i.current-icon {
  display: block;
  font-size: 45px;
  padding: 5px;
  text-align: center;
  line-height: 35px;
}

div {
  display: block;
}

div.detailed {
  margin: 5px auto;
  padding: 20px;
  font-size: 15px;
}

div.icon {
  font-size: 25px;
}
div.five-day-forecast {
  display: block;
  text-align: centre;
  background-color: #c9d6df;
  border: 3px transparent #3282b8;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 1px 1px 1px #52616b;
  line-height: 2;
  font-family: "Inconsolata", monospace;
}

i.fa-cloud {
  color: #52575d;
}
.fa-sun {
  color: #ffd460;
}
i.fa-cloud-sun {
  color: #f07b3f;
}
i.fa-cloud-sun-rain {
  color: #726a95;
}
.day {
  font-weight: bolder;
}
.high {
  font-weight: bolder;
}
.weather-detailed {
  text-align: right;
}
